<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Producto Vendedor</title>
        <link rel="icon" href="../../assets/img/icon.PNG" type="image/x-icon">

        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

        <!-- Bootstrap core CSS -->
        <link href="/BreakBlue Market/BreakBlueMarket-Flask/BreakBlueMarket/src/assets/dist/css/bootstrap.min.css">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
    </head>

    <body>
      <tr *ngFor="let producto of productos">
        <div *ngIf="producto.id == id">
          <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <a aria-current="page" routerLink="/homeComprador" routerLinkActive="active" class="navbar-brand d-flex align-items-center">
                        <strong>BreakBlueMarket</strong>
                    </a>

                    <form class="d-flex">
                        <a type="button" aria-current="page" routerLink="/informacionComprador" routerLinkActive="active" class="btn btn-sm btn-outline-secondary d-flex align-items-center" style="margin-left: 10px;" (click)="mensajeCerrar()">Cerrar Sesión</a>
                    </form>
                </div>
            </div>
        </header>

        <main>
          <section class="py-5 text-center container">
              <div class="row py-lg-5">
                  <div class="col-lg-6 col-md-8 mx-auto">
                      <h1 class="fw-light">{{producto.nombre}}</h1>
                      <div *ngIf="comprador.correo == producto.correo">
                        <p class="lead text-muted">{{comprador.nombreUsuario}}</p>
                      </div>
                      <h2>$ {{producto.precio}}</h2>
                  </div>
              </div>
              <div class="text-center">
                <div *ngIf="producto.unidadesDisponibles > 0">
                  <a aria-current="page" [routerLink]="['/datosPago', producto.id, producto.nombre]" routerLinkActive="active">
                    <button class="w-40 btn btn-primary btn-lg" type="submit">Comprar</button>
                  </a>
                </div>
              </div>
          </section>

          <div style="text-align: center;">
              <div class="album py-5 bg-light">
                <ngb-carousel>
                  <ng-template  ngbSlide>
                    <div>
                      <img width="50%" height="50%" src="../../assets/img/icon.PNG">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div>
                      <img width="50%" height="50%" src="../../assets/img/Logotipo.jpeg">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div>
                      <img width="50%" height="50%" src="../../assets/img/icon.PNG">
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>

              <div class="col-9">
                <label for="description" class="form-label">
                    <h3 >Descripción del Producto</h3>
                </label>
                <h4 class="recuadro">
                    {{producto.descripcion}}
                </h4>
              </div>
              <p></p>
              <div class="col-9" style="text-align: center;">
                <label>
                    <h3>Opiniones</h3>
                </label>
                <div class="recuadro">
                    <tr *ngFor="let coment of comentarios" >
                        <label>
                            <h4 >{{coment.comentario}}</h4>
                        </label>
                    </tr>
                </div>


                <label>
                    <h3>Calificaciones</h3>
                </label>
                <div class="recuadro">
                    <tr *ngFor="let calif of calificaciones">
                        <label>
                            <h4 >{{calif.calificacion}}</h4>
                        </label>
                    </tr>
                </div>
            </div>
          </div>
          <div class="col-9">
            <a aria-current="page" [routerLink]="['/opinion', producto.id]" routerLinkActive="active">
                <button class="w-40 btn btn-primary btn-lg" type="submit">Dar Opinión & Calificación</button>
            </a>
        </div>


      </main>
        </div>
      </tr>

        <footer class="text-muted py-5 text-center">
            <p>&copy; BreakBlue Market</p>
        </footer>

        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
