<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Producto Vendedor</title>
        <link rel="icon" href="../../assets/img/icon.PNG" type="image/x-icon">

        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

        <!-- Bootstrap core CSS -->
        <link href="/BreakBlue Market/BreakBlueMarket-Flask/BreakBlueMarket/src/assets/dist/css/bootstrap.min.css">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
    </head>

    <body>
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <strong>BreakBlueMarket</strong>
                    </a>

                    <form class="d-flex">
                        <a type="button" aria-current="page" routerLink="/editar" routerLinkActive="active" class="btn btn-sm btn-outline-secondary">Editar</a>
                        <button type="button" aria-current="page" routerLink="/informacionVendedor" routerLinkActive="active" class="btn btn-sm btn-outline-secondary" style="margin-left: 10px;" (change)="mensajeBorrar()">Borrar</button>
                        <a type="button" aria-current="page" routerLink="/informacionVendedor" routerLinkActive="active" class="btn btn-sm btn-outline-secondary d-flex align-items-center" style="margin-left: 10px;" (change)="mensajeCerrar()">Cerrar Sesión</a>
                    </form>
                </div>
            </div>
        </header>

        <main>
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Nombre del Producto</h1>
                        <p class="lead text-muted">Nombre del Vendedor/Compañia</p>
                        <h2>$ precio del producto</h2>
                    </div>
                </div>
            </section>

            <div class="container row">
              
          </div>
            
            

            <div style="text-align: center;">
                <div class="album py-5 bg-light">
                    <div class="container">
                      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="bd-placeholder-img" width="50%" height="50%" src="../../assets/img/icon.PNG" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <!-- <rect width="100%" height="100%" fill="#777">  -->
                    
                            <div class="container">
                              <div class="carousel-caption text-start">
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img class="bd-placeholder-img" width="50%" height="50%" src="../../assets/img/Logotipo.jpeg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <!-- <rect width="100%" height="100%" fill="#777"> -->
                    
                            <div class="container">
                              <div class="carousel-caption">
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img class="bd-placeholder-img" width="50%" height="50%" src="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <!-- <rect width="100%" height="100%" fill="#777"> -->
                    
                            <div class="container">
                              <div class="carousel-caption text-end">  
                              </div>
                            </div>
                          </div>
                        </div>
                        <button style="background-color: #3498db; color: #17202a;" class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button style="background-color: #2e7171; color: #17202a;" class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                </div>

                <div class="col-9">
                    <label for="description" class="form-label">
                        <h3>Descripción del Producto</h3>
                    </label>
                    <input type="text" class="form-control" id="Descripcion" placeholder="Descripción" maxlength="500" required style="height: 5em;">
                    <div class="invalid-feedback">Ingrese una Descripción</div>
                </div>
                <p></p>
                <div class="col-9">
                    <label>
                        <h3>Opiniones y Calificaciones</h3>
                    </label>
                    <input type="text" class="form-control" id="Opinion" placeholder="Opinión" maxlength="500" required style="height: 5em;">
                    <div class="invalid-feedback">
                        Ingrese una Opinión
                    </div>
                </div>
            </div>
        </main>

        <footer class="text-muted py-5 text-center">
            <p>&copy; BreakBlue Market</p>
        </footer>

        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>