/BreakBlue\ Market/API/__pycache__
/BreakBlue\ Market/API/models/__pycache__
/BreakBlue\ Market/API/schemas/__pycache__
/BreakBlue\ Market/.DS_Store
/BreakBlue\ Market/venv
/BreakBlue\ Market/API/flask_session
*.pyc