<!doctype html>
<html lang="en" class="h-100">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link rel="icon" href="../../assets/img/icon.PNG" type="image/x-icon">

        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">



        <!-- Bootstrap core CSS -->
        <link href="/BreakBlue Market/BreakBlueMarket-Flask/BreakBlueMarket/src/assets/dist/css/bootstrap.min.css">


        <!-- Custom styles for this template -->
        <link href="cover.component.css" rel="stylesheet">
    </head>

    <body class="d-flex h-100 text-center text-white bg-dark">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">BreakBlue Market</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <li class="main-nav__item">
                            <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
                        </li>
                        <br><br>
                        <li class="main-nav__item px-3">

                            <a class="nav-link active" aria-current="page" routerLink="/comprador" routerLinkActive="active">Registrarse</a>
                        </li>
                    </nav>
                </div>
            </header>

            <main class="px-3">
                <img src="../../assets/img/Logotipo.jpeg" class="img-fluid" alt="Responsive image">
            </main>

            <footer class="mt-auto text-white-50">
                <p>&copy; BreakBlue Market</p>
            </footer>
        </div>
    </body>
</html>
